@value mobile 640px;
@value tablet 768px;
@value desktopMid 992px;
@value desktopLarge 1170px;

$mobile: mobile;
$tablet: tablet;
$desktop-mid: desktopMid;
$desktop-large: desktopLarge;

.container {
  height: inherit;

  @media (min-width: $mobile) {
    min-width: 640px;
  }

  @media (min-width: $tablet) {
    min-width: 768px;
  }

  @media (min-width: $desktop-mid) {
    min-width: 992px;
  }

  @media (min-width: $desktop-large) {
    min-width: 1100px;
  }
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.sensibleContainer {
  padding: 0 2rem;
}

.fluid {
  min-width: initial;
  width: 100%;
}
