@import "variables.scss";

html,
body {
  min-width: 100%;
}

html,
body,
div,
p,
h1,
h2,
h3,
h4,
ul,
li,
img {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  background: #f9f8f7;
  -webkit-font-smoothing: antialiased;
  color: $primary-text-colour;
  font-family: "HKGrotesk-Medium", sans-serif;
  width: 100%;
  font-size: $base-text-size;
}

:global(.active) {
  color: $link-hover-colour;
}

code > pre,
pre {
  max-width: 100%;
  width: auto;
  white-space: pre-wrap;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.85);
}

p {
  margin-bottom: 3px;
  line-height: 1.5;
  word-wrap: break-word;

  &.el {
    text-overflow: ellipsis;
    max-width: 300px;
  }
}

a {
  color: $link-colour;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: $link-hover-colour;
  }

  &.external {
    font-weight: bold;
    text-decoration: underline;
  }
}
