.preview {
  display: flex;
  align-self: stretch;
  align-content: flex-start;
  background: #fff;
  cursor: pointer;
  padding: 15px 0;
  flex-grow: 1;
  flex-direction: column;

  h3 {
    max-width: 100%;
    margin-top: 5px;
    word-wrap: break-word;
    line-height: 1.4;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.cardContent,
.previewInner {
  display: flex;
  flex-flow: column;
}

.postDate {
  color: #999;
}

.postLink {
  padding-bottom: 3px;
  display: inline-flex;
  text-decoration: none;

  h3 {
    color: #37b3bf;

    &:hover {
      color: #cd5b5b;
    }
  }
}

.readMore {
  font-size: 1rem;

  a {
    text-decoration: none;
    font-weight: bold;
  }
}

.previewInner {
  width: 100%;
  box-sizing: content-box;
}

@media screen and(max-width: 460px) {
  .previewInner {
    min-height: unset;
  }

  .cardContent {
    padding: 1rem 0 !important;
    border: none;
    min-height: unset;
  }
}
