@import "../../styles/index.scss";

.postContainer {
  white-space: pre-wrap;
  display: flex;
  align-self: stretch;
  margin-bottom: 1rem;
  align-content: flex-start;
  transition: all 0.3s ease-in-out;
  flex-grow: 1;
  flex-direction: column;
}

.postMeta {
  color: $faded-colour;
  display: flex;
  font-size: $small-text-size;
  margin-top: 0.25rem;
}

.postBody {
  margin-top: 2rem;

  img,
  table {
    max-width: 100%;
  }

  pre {
    margin: 0 !important;
  }
}

.adminActions {
  margin-top: 10px;
}

.adminLink {
  font-size: 14px;
}
