@import "../../styles/index.scss";

.externalLink {
  @extend .external;
}

.postList {
  list-style-type: square;
  margin: 5px 0 15px 0;
  padding-left: 20px;
  display: block;
}

.calloutSection {
  background: #fff;
  display: inline-flex;
  flex-flow: column;
  align-content: flex-start;
  // box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  // padding: 20px 15px 30px 15px;
  // border-top: 2px solid tomato;
}

.section {
  margin-top: 45px;

  &:first-child {
    margin-top: 15px;
  }

  p {
    max-width: 500px;
  }
}

.post {
  margin: 15px auto;

  a {
    text-decoration: none;
  }
}

@media screen and(max-width: 760px) {
  .calloutSection {
    max-width: 90%;
  }
}
