.alert {
  background: #37B3BF;
  display: inline-flex;
  padding: 4px 6px;
  min-width: 200px;
  border: none;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  margin: 10px auto;
  align-content: center;
  justify-content: center;
  text-align: center;
  transition: .5s ease-out;

  * {
    margin: 0;
  }
}