@import "../../styles/index.scss";

.breadcrumb {
  display: flex;
  margin-top: 12px;
  margin-bottom: 35px;
  display: inline-flex;
}

.breadcrumbItem {
  font-weight: bold;
}

.breadcrumbItem,
.divider {
  margin-right: 8px;
}

.divider {
  color: $link-hover-colour;
}
