.button {
  background: #37b3bf;
  display: inline-flex;
  justify-content: center;
  align-content: center;

  input,
  div {
    background: transparent;
    cursor: pointer;
    padding: 12px 19px;
    font-size: 1rem;
    outline: none;
    border: none;
    color: white;
    border-radius: 2px;

    &:hover {
      background: #cd5b5b;
    }
  }
}
