.fieldContainer {
  display: flex;
  padding: 1rem 0;
  flex-flow: column;

  input,
  textarea {
    padding: 0.5rem 1rem;
    outline-width: 1px;
    outline-color: darkgoldenrod;
  }
}

.inputContainer {
  display: inline-flex;
  flex-basis: 55%;
}

.label {
  font-weight: bold;
  align-content: center;
  display: flex;
  margin-bottom: 10px;
  margin-right: 1.5rem;
  text-transform: capitalize;
}

.error {
  margin-top: 10px;
  color: red;
  text-transform: capitalize;
}
