@import "../styles/index.scss";

.header {
  background: $header-colour;
  min-height: 75px;
  width: 100%;
  display: table;
  padding-top: 35px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.mainSection {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 10px;
  margin-bottom: 100px;
  flex: 1;
  background: #fff;
}

.mainSiteContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }
}

.footer {
  @extend .fluid;

  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
  background: $header-colour;
}
