@import "../styles/index.scss";

.nav {
  @extend .container;

  h1 {
    margin-bottom: 0px !important;
  }
}

.subTitle {
  font-size: 0.9rem;
  margin-top: -5px;
}

.navList {
  margin-top: 10px;
  list-style: square;
}

.navItem {
  display: inline-flex;
  margin-right: 10px;

  a {
    text-decoration: none;
  }
}

.navBrand {
  margin-right: 25px;
}
