@import "../../styles/index.scss";

.well {
  margin-bottom: 10px;
}

.section {
  margin: 45px auto;

  &:first-child {
    margin-top: 0;
  }

  ul {
    li {
      margin: 30px auto;
    }
  }
}

.jobsList {
  list-style-type: none;
  padding: 0;
}

.skillsList {
  list-style-type: square;
  padding-left: 18px;
  margin-top: 10px;

  li {
    margin: 0 !important;
    line-height: 1.5;
  }
}

.jobWithLogo {
  display: flex;
  align-items: flex-start;
}

.logo {
  border-radius: 50%;
  height: 40px;
  position: relative;
  margin-top: -4px;
  background: #fff;
  margin-right: 18px;
  width: 40px;
  min-width: 40px;
  padding: 15px;
  display: flex;
  align-items: center;
  border: 2px solid black;
}

.logo img {
  width: 100%;
  filter: grayscale(100%) brightness(0%);
}

.invert {
  filter: invert(100%) !important;
}

.externalLink {
  @extend .external;
}

.jobTitle,
.education {
  margin-bottom: 4px !important;
}

.mainJobContent {
  display: flex;
  flex-flow: column;
  position: relative;
  margin-top: -8px;
}

.smallerDetail {
  margin-top: 2px;
  max-width: 400px;
  word-wrap: break-word;
  font-size: 1rem;
  color: #777;
}
